*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body {
    font-family: "Rubik", sans-serif;
}

/* NADPISY */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;  
  letter-spacing: -0.5px;  
}

.heading-primary {
  font-size: 52px;
  line-height: 1.05;
  margin-bottom: 32px;
}

.heading-secondary {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 96px;
}

.heading-tertiary {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 32px;
}

/* HEADER */

.header {
    background-color: #fdf2e9; 
    display:  flex;
    justify-content: space-between; 
    position: fixed; 
    width: 100%; 
    height: 10vh;
    box-shadow: 0px 3px 5px #6f6f6f;
    z-index: 1; /* zajistí flip kartám, aby se vnořily pod fixed menu */
}

.logo img {  
    height: 80px;
}

/* NAVIGATION */

nav img {
    width: 100px;
}

nav {
    display: flex;
    padding: 20px 20px;   
    align-items: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;    
}

.nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336; 
    display: block;
    margin: auto;
    transition: .5s;    
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;    
}

/* MOBILE NAVIGATION */

@media(max-width: 700px) {
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background-color: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #000;
        margin: 10px;
        font-size: 24px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .fa-times {
        padding: 16px;
    }
}

/* HEADING HERO */

.heading-hero {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;    
}

.first {   
    display: flex;
    margin: 20px;
    padding: 0 10px;  
    align-items: center;  
}

.second {   
    margin: 20px;
    padding: 20px;    
}

img {
    width: 100%;
    border-radius: 3px;
}

@media (max-width: 800px) {
    .heading-hero {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

/* MY SKILLS */

.my-skills {
    text-align: center;
    font-size: 40px;
    color: #333;
    padding-top: 100px;        
}

/* HERO CONTENT */

.hero {    
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 40px;   
}
@media (max-width: 800px) {
    .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .hero {
    display: grid;
    grid-template-columns: 1fr;
    }
}

/* FLIP CARD */

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;    
}

.card-section .card {
    
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card-section .card .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;   
}

.card-section .card:hover .box {
    transform: rotateY(180deg);    
}

.card-section .card .box .Bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e67e22;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #45260a;
}

.card-section .card .box .Bx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.card-section .card .box .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #333;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    border-radius: 5px;
}

.card-section .card .box .contentBx div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #fe0061, #ffeb3b);
    transform: translateZ(100px);
}

.card-section .card .box .contentBx div h2 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}

.card-section .card .box .contentBx div p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

/* IKONY CSS HTML a JS */
.Bx {
    display: block;
    text-align: center;   
}

.header-second {  
    font-size: 40px;
    padding-top: 50px;
    color: #333;
    text-shadow: 2px 2px 4px #333;
}

.icon-skills {  
    display: block;    
    color: #fdf2e9;    
    font-size: 80px;
    width: 100%;
    padding-top: 50px;        
}

#help-me {    
    padding-bottom: 40px;
    color: #fff;
}

/* INFO O MĚ */

/* HLAVNÍ SEKCE */
.about-me {
    background-color: #333;    
}

/* HLAVNÍ BOX - O MĚ */
.about-me-hero-box {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 20px;    
}

.about-me-box {   
    margin: 10px;
    padding: 10px;
}

/* Obrázek o mně */
.image-about-me {
    border-radius: 3px;    
}

/* Nadpis - Info o mně */
.header-about-me {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 1rem;
}
/* Text - Info o mě */
.text-about-me {
    color: #fff;
    font-size: 1.3rem;
    line-height: 2rem;
    padding-top: 1rem;
    letter-spacing: -0.5px;
}

/* Zvýraznění slov: Radka Kitnera, Czechitas */
span {
    font-weight: 600;
    color: #e67e22;    
}

.link {
    text-decoration: none;
}

@media (max-width: 1000px) {
    .about-me-hero-box {
        grid-template-columns: 1fr 1fr;        
    }
    .text-about-me {
        font-size: 1.3rem;
    }
}

@media (max-width: 800px) {
    .about-me-hero-box {
        grid-template-columns: 1fr;
        padding: 0;
    }
}

@media (max-width: 550px) {
    .about-me-hero-box {
        grid-template-columns: 1fr;
        padding: 0;
    }
}

/* TESTING - MANUÁLNÍ - AUTOMATICKÉ */

.testing { 
    padding-top: 60px;    
}

.testing-text {   
    padding: 20px 0;
    margin-top: 10px;
    color: #333;
    font-size: 1.3rem;        
    line-height: 2rem;
    padding-top: 1rem;
    letter-spacing: -0.5px;    
}

.testing-hero {
    padding-top: 10px;
}

.heading-margin {
    margin-bottom: 20px;
}

/* FOOTER */

.footer {
    background-color: #333;    
}

.footer-social {  
    display: flex;  
    height: 60vh; 
    width: 100%;    
    align-items: center;
    justify-content: center;
}

.footer-social ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 10px; 
}

.footer-social ul li a {
    text-decoration: none;
    color:#e67e22;
    transition: .8s;
}

.footer-social ul li a:hover {
    color: #fae5d3;
}

.footer-links {  
    font-size: 4.2rem;    
}

.footer-rights {
    text-align: center;
    padding-bottom: 1.8rem;
    color: #fff;
}

.name-rights {
    letter-spacing: 1px;
}

.footer-kontakt {    
    height: 15vh;
    padding-top: 6rem;
    font-size: 3rem;
}
